.App {
  text-align: center;
}

.App-loading {
  height: 40vmin;
  pointer-events: none;
  border-radius: 50%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-loading {
    animation: App-logo-spin infinite 4s linear;
  }
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.game-bar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
}

.images-container {
  margin: 10px 50px;
}

.game-image {
  width: 250px;
}

.result-image {
  width: 250px;
}

.image-info {
  font-size: 20px;
  line-height: 1.5;
  font-weight: bold;
}

#next-button {
  width: 200px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* mobile */
@media (max-width: 768px) {
  .images-container {
    margin: 10px 0px;
  }
  .game-image {
    width: 150px;
  }
  .result-image {
    width: 150px;
  }

  .image-info {
    font-size: 12px;
    line-height: 1.5;
    font-weight: bold;
  }
  #next-button {
    width: 50px;
  }
}
